<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DEAMACLINIC.My.MySettings.SUPREMECLINIC" connectionString="Server=192.168.10.1; initial catalog=PROMEDDB; User Id=supreme; Password=Supremep@55" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
